.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    width: 450px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.3);
    padding: 48px 24px 24px;
}

.registration_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.registration_button {
    margin: auto 15px !important;
}