.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
}

.card {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    perspective: 1000px;
    height: 33px;
    width: 170px;
    margin-right: 12px;
    
  
    &.done {
      .cardInner {
        transform: rotateY(180deg);
      }
    }
  }
  
  .cardInner {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .cardFront, 
  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 6px 12px;
  }
  
  .isRemembered {
    .cardFront,
    .cardBack {
      text-decoration: line-through;
    }
  }

  .cardFront {
    background-color: #fff;
    color: black;
  }
  
  .cardBack {
    background-color: #1BB95E;
    color: white;
    transform: rotateY(180deg);
  }

  .icons {
    font-size: 26px;
    cursor: pointer;

    &:hover {
      color: #1BB95E
    }
  }