.flex {
  display: flex;
  flex-wrap: wrap;
}

.motivation {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.motivationBlock {
  padding: 0 16px;
  width: 33%;
  flex: 1;
  
  p {
    padding-bottom: 0;
  }
}

.icons {
  font-size: 58px;
}

.loader_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.flexParagraph {
  display: flex;
  margin-top: 40px;

  h2 {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 24px;
    line-height: 50px;
  }

  p {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    padding: 0 16px;
  }
}

.textCenter {
  text-align: center;
}

.form {
  margin-bottom: 26px;
}

.bigButton {
  display: inline-block;
  font-family: 'Roboto',Arial,sans-serif;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  text-decoration: none;
  background: transparent;
  color: white;
  transition: .25s all ease-in-out;
  
  &:hover {
    background: white;
    color: black;
  }
}
.proposition {
  margin-bottom: 10px;
  font-size: 15px;
}

.menu {
  display: flex;
  position: absolute;
  left: 0;
  width: 100vw;  
}

.menu_button {
  position: absolute !important;
  right: 10px;
}

.btn {
  background: none;
  border: none;
  outline: none;
}